manifest {
  homePage = 'https://github.com/carlosribas/nextflow'
  mainScript = 'main.nf'
  description = 'Testing'
}

profiles {
  docker {
    docker {
      runOptions= "-v $HOME:$HOME"
      enabled = true
    }
  }
  kubernetes {
    process.executor = 'k8s'
    process.scratch = true
    k8s {
      debug.yaml = true
      pod = [[env: 'HTTP_PROXY', value: 'http://hh-wwwcache.ebi.ac.uk:3128'], [env: 'HTTPS_PROXY', value: 'http://hh-wwwcache.ebi.ac.uk:3128'], [env: 'http_proxy', value: 'http://hh-wwwcache.ebi.ac.uk:3128'], [env: 'https_proxy', value: 'http://hh-wwwcache.ebi.ac.uk:3128'], [env: 'no_proxy', value: 'localhost,.cluster.local']]
    }
  }
}

env { HTTPS_PROXY='http://hh-wwwcache.ebi.ac.uk:3128', HTTP_PROXY='http://hh-wwwcache.ebi.ac.uk:3128' }

