manifest {
  homePage = 'https://github.com/carlosribas/test'
  mainScript = 'main.nf'
  description = 'Testing'
}

process {
  container = 'rnacentral/rnacentral-import-pipeline:latest'
}

profiles {
  docker {
    docker.enabled = true
  }

  kubernetes {
    process.executor = 'k8s'
    process.scratch = true
    k8s {
      debug.yaml = true
      pod = [
        [env: 'HTTP_PROXY', config: 'proxy-variables/HTTP_PROXY'],
        [env: 'HTTPS_PROXY', config: 'proxy-variables/HTTPS_PROXY'],
        [env: 'http_proxy', config: 'proxy-variables/http_proxy'],
        [env: 'https_proxy', config: 'proxy-variables/https_proxy'],
        [env: 'no_proxy', config: 'proxy-variables/no_proxy'],
        [env: 'HOST', secret: 'db/HOST'],
        [env: 'DATABASE', secret: 'db/DATABASE'],
        [env: 'USER', secret: 'db/USER'],
        [env: 'PASS', secret: 'db/PASS'],
        [env: 'PORT', secret: 'db/PORT'],
      ]
    }
  }
}

params.str = 'Hello world'
params.db = "postgres://$USER:$PASS@$HOST:$PORT/$DATABASE"